.layout{
    display: grid;
    grid-template-columns: minmax(300px, 38%) 1fr;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
   background-color: greenyellow;

}

.title a{
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.title .link {
    margin-bottom: 100px;
}


.overviewpage_wrap{
    display: flex;
}