.layout{
    display: grid;
    grid-template-columns: minmax(250px, 25%) 1fr;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1d2634;

    margin: 10px;
}

.title a{
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: #9e9ea4;
}

.title .link {
    font-size: 18px;
    line-height: 80px;
}


.overviewpage_wrap, 
.billpage_wrap,
.IABpage_wrap,
.staffanduserpage_wrap,
.statisticspage_wrap,
.BRMpage_wrap{
    display: flex;
    align-items: flex-start;
}