*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bookstore_wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.leftbox{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border-right: 1px solid grey;
    margin-right: 20px;
}

.leftbox a{
    text-decoration: none;
}

.leftbox_collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    overflow: hidden;
}

.leftbox_collection .category{
    text-align: center;
}
.leftbox_collection p{
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 10px;
}

.leftbox_collection h2{
    text-align: center;
    font-size: 30px;

    margin-bottom: 10px;
}
.rightbox{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sort{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid black;
}
.show_product{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 20px;
}

.show_product button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background: none;
    outline: none;
    cursor: pointer;
    background-color: green ;
    color: white;
    font-weight: 500;
}

.show_product button:hover{
    background-color: brown;
}

.product_info{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem, 1rem;
}

.product_info a{
    text-decoration: none;
    outline: none;
    color: black
}

.advertisement {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    border: 1px solid whitesmoke;
    outline: 20px;
}

.booktype{
    width: 100px;
    height: 150px;
}

.booktype img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px){
    .advertisement{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        overflow: scroll;
        width: 100%;
        height: 100%;
    }
}